# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# --- Ren'Py ---
saves/
log.txt
errors.txt
traceback.txt
persistent
tmp/
cache/
game/cache/
game/tl/*/cache/

# --- Ren'Py exports (builds generadas) ---
dist/
build/
*.rpa

# --- Archivos de sistema (Windows / Mac) ---
.DS_Store
Thumbs.db
