# Archivos compilados de Ren'Py
*.rpyc
*.rpyb
*.rpymc

# Archivos de log
log.txt
errors.txt
traceback.txt
lint.txt

# Carpetas generadas
saves/
tmp/
cache/

# Archivos de Python
*.pyc
*.pyo
*.egg-info

# Archivos temporales y de respaldo
*~
*.bak

# Archivos específicos de plataformas
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Ejecutables de Ren'Py
/renpy.exe
/renpy.sh
/renpy.app

# Otros
*.keystore
*.zip
*.json
